<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Загрузка данных</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <div class="alert alert-warning">Вы можете вручную загрузить CSV-файл для последующей обработки и построения отчетов. Файл должен иметь формат, указанный ниже. Обратите внимание, что должно пройти некоторое время, прежде чем загруженные данные будут отображены в отчетах.</div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Загрузка
      </div>
      <div class="panel-body">
        <form role="form" id="datainput-form">
          <div class="form-group">
            <label>Загрузить данные</label>
            <input type="file" id="datainput-upload" accept=".csv" />
            <p class="help-block">Формат CSV файла: Дата, Заведение, Заказ, Продавец, Покупатель, Товар, Цена</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
