<ul id="main-menu" class="nav">
  <li class="sidebar-search">
    <div class="input-group custom-search-form">
      <input type="text" class="form-control" placeholder="Search...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </li>
  <li>
      <a href="#/"><i class="fa fa-dashboard fa-fw"></i> Статистика за месяц</a>
  </li>
  <li>
      <a href="#/sales"><i class="fa fa-bar-chart-o fa-fw"></i> Продажи</a>
  </li>
  <li>
      <a href="#/items"><i class="fa fa-table fa-fw"></i> Товары</a>
  </li>
  <li>
      <a href="#/staff"><i class="fa fa-male fa-fw"></i> Продавцы</a>
  </li>
  <li>
      <a href="#/customers"><i class="fa fa-users fa-fw"></i> Покупатели</a>
  </li>
</ul>
