<ul class="nav navbar-top-links navbar-right">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-sitemap fa-fw"></i> Данные <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-tasks">
      <li><a href="#/input"><i class="fa fa-tasks fa-fw"></i> Загрузка данных</a></li>
      <li><a href="#/mapping"><i class="fa fa-wrench fa-fw"></i> Управление данными</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-gear fa-fw"></i> Настройки <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-messages">
      <li><a href="#/signup"><i class="fa fa-users fa-fw"></i> Регистрация пользователей</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-user fa-fw"></i> Пользователь <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <li><a href="#/profile"><i class="fa fa-user fa-fw"></i> Профиль</a></li>
      <li class="divider"></li>
      <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Выйти</a></li>
    </ul>
  </li>
</ul>
