extends layout_base

block body
  #wrapper
    nav(role='navigation',class='navbar navbar-default navbar-static-top',style='margin-bottom:0')
      .navbar-header
        button(type='button', class='navbar-toggle', data-toggle='collapse',data-target='.navbar-ex1-collapse')
          span(class='icon-bar'): | &nbsp;
          span(class='icon-bar'): | &nbsp;
          span(class='icon-bar'): | &nbsp;
        a(class='navbar-brand',href='#/'): | Отчеты
      block navigation
      block menu
    block content
