extends layout_page

block head
  title Отчеты
  script(src='/public/dist/panel' + (is_production ? '.min' : '') + '.js')

block menu
  div(role="navigation",class="navbar-default sidebar")
    div(class="sidebar-nav navbar-collapse", extended='extended', ng-controller='MainMenuController', ng-include="'/public/partials/mainmenu.html'")

block navigation
  div(ng-controller='NavigationController',ng-include="'/public/partials/navigation.html'")

block content
  #page-wrapper
    div(ng-view)
    script(type='text/javascript').
      (function() {
        angular.bootstrap(document, ['PosReportsPanel']);
      })();
